/* Use the variables */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

body .header {
  background: #D8BFD8;
  color: #4B286D;
  text-align: center;
  line-height: 2rem;
}

body .navbar-links ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #4B286D;
  width: 100%;
  padding-left: 0%;
  padding-right: 0%;
}

body .navbar-links ul ul li {
  float: right;
}

body .navbar-links li {
  float: left;
  border-right: 1px solid #54595F;
}

body .navbar-links li a {
  display: block;
  color: #FFFFFF;
  text-align: center;
  padding: 8px 14px;
  text-decoration: none;
  font-size: 14px;
}

body .navbar-links li a a.active {
  color: #4B286D;
}

body .navbar-links li a a.active .active {
  background-color: #FFFFFF;
}

body .upper-head ul {
  list-style-type: none;
  overflow: hidden;
  width: 100%;
  padding-left: 0%;
  padding-right: 0%;
}


body .upper-head li {
  float: left;
}

body .upper-head li a {
  display: block;
  text-align: center;
  padding: 16px 30px;
  text-decoration: none;
  font-size: 16px;
  color: #54595F;
}

body .upper-head li img {
  padding: 14px 14px;
}

body input[type=text] {
  width: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
  font-size: 16px;
  background-color: #FFFFFF;
  background-image: url("searchicon.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 4px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

body input[type=text]:focus {
  width: 50%;
}

body section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body section .left-header {
  width: 50rem;
  margin-left: 20rem;
  margin-top: 6rem;
}

body section .left-header h1 {
  font-size: 4.5rem;
  color: #4B286D;
  text-align: left;
  font-weight: 100;
}

body section .left-header p {
  color: #54595F;
  font-weight: 1rem;
  line-height: 1.5rem;
}

body section .right-header img {
  float: right;
  width: 25rem;
  margin-right: 6rem;
  margin-top: 6rem;
}

body .line {
  margin-top: 10rem;
  margin-left: 18rem;
  margin-right: 24rem;
  color: #54595F;
}

body .req {
  padding-left: 19rem;
  padding-top: 3rem;
}

body .issue {
  font-size: 1.8rem;
  padding-left: 19rem;
  padding-top: 1rem;
  color: #4B286D;
}

body .form-group {
  height: 6.5rem;
  padding-left: 19rem;
  font-size: 1.2rem;
}

body .form-group label {
  display: block;
  margin-top: 20px;
}

body .form-group input {
  min-width: 45rem;
  height: 3rem;
  border-radius: 5px;
  display: block;
  border: 1px solid #2A2C2E;
  font-size: large;
}

body .form-group i {
  position: absolute;
  top: 40px;
  right: 10px;
}

body .form-group small {
  visibility: hidden;
}

body .form-group .bt {
  background-color: #2B8000;
  cursor: pointer;
  height: 3.5rem;
  min-width: 18%;
  text-align: center;
  font-size: 1.1rem;
  color: #FFFFFF;
  border-radius: 8px;
  border: 2px solid #2B8000;
}

body .form-group .bt:hover {
  background-color: #FFFFFF;
  color: #2B8000;
}

body .form-grp {
  height: 6.5rem;
  padding-left: 19rem;
  font-size: 1.2rem;
}

body .form-grp label {
  display: block;
  margin-top: 20px;
}

body .form-grp input {
  min-width: 22rem;
  height: 3rem;
  border-radius: 5px;
  border: 1px solid #2A2C2E;
}

body .contact-check {
  padding-left: 19rem;
  font-size: 1.1rem;
  line-height: 2rem;
}

body .hidden {
  line-height: 2rem;
}

body .hidden input {
  min-width: 45rem;
  min-height: 2.5rem;
  border-radius: 5px;
  border: 1px solid #2A2C2E;
}

body .line2 {
  margin-left: 18rem;
  margin-right: 53rem;
  color: #54595F;
}

body .privacy {
  padding-left: 19rem;
  font-size: 1.1rem;
}

body .hide-phn {
  display: none;
}

body .hide-mail {
  display: none;
}

body .hide-phone {
  display: none;
}

body .help {
  margin-top: 4rem;
  padding-left: 19rem;
  color: #54595F;
}

body .help a {
  text-decoration: underline;
  color: #4B286D;
}

body .feedback {
  background-color: #F7F7F8;
  height: 2rem;
  padding-left: 19rem;
}

body .feedback a {
  text-align: center;
  text-decoration: underline;
  color: #54595F;
  line-height: 2.5;
}

body .feedback p {
  height: 5px;
  color: #54595F;
}

body .all-list {
  background-color: #2A2C2E;
  padding-left: 11rem;
}

body .all-list .row {
  margin-left: 7rem;
}

body .all-list .row .column {
  padding: 2rem;
  text-align: left;
  display: table-cell;
}

body .all-list .row .column a {
  font-size: 1rem;
  color: #F7F7F8;
  line-height: 1.8;
  font-family: sans;
  padding: 1rem;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

body .last-line {
  margin-right: 28rem;
  margin-left: 1rem;
  padding-left: 6rem;
}

body .logo-last {
  margin-left: 7rem;
  height: 3rem;
}

body .logo-last img {
  height: 1.8rem;
}

body .logo-last span {
  margin-left: 56rem;
  color: #F7F7F8;
}

body .line-height {
  line-height: 1.5;
}

body .error {
  color: #FF0000;
  font-size: 90%;
  background-color: #FFFFE0;
  margin-right: 55rem;
  line-height: 2.5rem;
}

@media only screen and (max-width: 600px) {
  body section {
    display: inline-block;
  }
}
/*# sourceMappingURL=style.css.map */